window.Bar {
  background-color: transparent;
  color: #cdd6f4;
  font-size: 16px; }
  window.Bar button {
    all: unset; }
  window.Bar box {
    border-radius: 6px; }
  window.Bar icon {
    margin-left: 8px;
    margin-right: -8px; }
  window.Bar label {
    border-radius: 6px;
    padding: 0px 8px;
    margin: 2px; }
  window.Bar .MainMenuButton, window.Bar .Workspaces, window.Bar .Time, window.Bar .Battery, window.Bar .SysTray {
    background-color: #1e1e2e;
    margin: 2px; }
  window.Bar .MainMenuButton icon {
    margin: unset;
    padding: 0px 6px; }
  window.Bar .SysTray icon {
    margin: 0px 4px; }
  window.Bar .Workspaces button label {
    transition-duration: 0.2s; }
  window.Bar .Workspaces button:hover label {
    background-color: #f2cdcd;
    color: #1e1e2e; }
  window.Bar .Workspaces .focused label {
    background-color: #cdd6f4;
    color: #1e1e2e; }

window.MainMenu {
  background-color: transparent;
  color: #cdd6f4;
  font-size: 16px;
  border-radius: 6px; }
  window.MainMenu box {
    background-color: transparent;
    margin-left: 1px;
    border-radius: 6px; }
    window.MainMenu box button {
      all: unset; }
    window.MainMenu box .WiFi {
      background-color: #1e1e2e;
      padding: 0px 6px; }
