window.Bar {
  background-color: transparent;
  color: white;
  font-size: 16px; }
  window.Bar button {
    all: unset; }
  window.Bar box {
    border-radius: 4px; }
  window.Bar label {
    border-radius: 4px;
    padding: 0px 8px;
    margin: 2px; }
  window.Bar .Workspaces, window.Bar .Time {
    background-color: black; }
  window.Bar .Workspaces {
    margin: 2px; }
    window.Bar .Workspaces .focused label {
      background-color: white;
      color: black; }
