/* Hide window MAX MIN CLOSE buttons */
.titlebar-buttonbox-container {
    display: none;
}

/* Hide toolbar spacers */
#titlebar .titlebar-spacer {
    display: none !important;
}

#TabsToolbar {
    margin-top: -1px !important;
}


#navigator-toolbox{
  background: var(--baseBG) !important;
  padding: 0px !important;
  border: none !important;
}


.wrapper{
  background: var(--baseBG) !important;
}

#toolbar-menubar {
    color: var(--moonlight-gray-10) !important;   
}

#forward-button{
  color: var(--moonlight-gray-3) !important;
}

.tabbrowser-tab .tab-stack {
    background: var(--moonlight-gray-1) !important;
    margin: 2px 0px 2px 2px !important;
    border-radius: 15px !important;
    color: var(--moonlight-gray-10) !important;
    transition: background-color, border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.tabbrowser-tab .tab-background {
    border: none !important;
    transition: background-color, border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.tabbrowser-tab::after {
    display: none !important;
}

.tab-content{
  background-color: var(--baseBG)
}

.tab-content[selected]{
    background: var(--moonlight-gray-4) !important;
    border-radius: 4px !important;
}

.tabbrowser-tab:hover .tab-stack{
    border-color: var(--moonlight-blue) !important;
    color: var(--moonlight-gray-10) !important;
}

.tabbrowser-tab:hover .tab-background {
    background: var(--moonlight-gray-1) !important;
}

.tabbrowser-tab[selected] .tab-stack {
    border-color: var(--moonlight-gray-1) !important;
    color: var(--moonlight-gray-10) !important;

}

.tabbrowser-tab[selected] .tab-background {
    background: var(--moonlight-gray-1) !important;
    width: 100% !important;
    margin: 0 0 0 4px !important;
}
.tab-background .tab-line {
    display: none;
}
.tabbrowser-tab .tab-text {
    opacity: 1 !important;
}
.tabbrowser-tab .close-icon {
    fill: var(--moonlight-gray-3) !important;
    transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.tabbrowser-tab:hover .close-icon {
    fill: var(--moonlight-gray-9) !important;
    background-color: transparent !important;
}
#tabs-newtab-button .toolbarbutton-icon {
    width: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
    margin-top: 1px !important;
}

#newtab-button-container {
  margin-right: 0 !important;
}

/*  Clean and tight extensions menu */
#unified-extensions-panel #unified-extensions-view {
    width: 100% !important; /*  For firefox v115.x */
}

#unified-extensions-view{
    --uei-icon-size: 22px; /*  Change icon size */
    --firefoxcss-number-of-extensions-in-a-row: 3; /*  Increase to the number of icons you want in one row */
}

#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header + toolbarseparator,
#unified-extensions-view .panel-subview-body + toolbarseparator,
#unified-extensions-view #unified-extensions-manage-extensions,
#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton,
#unified-extensions-view .unified-extensions-item-action-button .unified-extensions-item-contents{
    display:none !important;
}

#unified-extensions-view .panel-subview-body {
    padding:4px !important;
}

#unified-extensions-view .unified-extensions-item .unified-extensions-item-icon, 
#unified-extensions-view .unified-extensions-item .toolbarbutton-badge-stack {
    margin-inline-end: 0px !important;
}

#unified-extensions-view #overflowed-extensions-list,
#unified-extensions-view #unified-extensions-area,
#unified-extensions-view .unified-extensions-list {
    display: grid !important;
    grid-template-columns: repeat(var(--firefoxcss-number-of-extensions-in-a-row),auto);
    justify-items:left !important;
    align-items:left !important;
}

#unified-extensions-view .unified-extensions-list .unified-extensions-item,
#unified-extensions-view .unified-extensions-list{
     max-width: max-content;
}

#unified-extensions-view #unified-extensions-area {
    padding-bottom: 3px !important;
    border-bottom: 1px solid #aeaeae33 !important;
}

#unified-extensions-view .unified-extensions-list {
/*     border-top: 1px solid #aeaeae33 !important; */
}

#unified-extensions-view:is(panelview, #widget-overflow-fixed-list) .toolbaritem-combined-buttons {
  margin: 1px !important;
}


