$bg: rgb(0, 0, 0);
$fg: rgb(255, 255, 255);
$borderRadius: 6px;

// Bar widget
window.Bar {
    background-color: transparent;
    color: $fg;
    font-size: 16px;

    // Bar elements
    button {all: unset;}
    box {border-radius: $borderRadius;}
    label {
        border-radius: $borderRadius;
        padding: 0px 8px;
        margin: 2px;
    }

    // Custom widgets
    .Workspaces, .Time {background-color: $bg;}
    .Workspaces {
        margin: 2px;
        .focused label {
            background-color: $fg;
            color: $bg;
        }
    }
}
