@layer base, starlight, theme, components, utilities;
@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
	/* Text font */
  --font-sans: 'Atkinson Hyperlegible';

  /* Code font */
  --font-mono: 'IBM Plex Mono';

	/* Generated accent color palettes. */
	--color-accent-200: #fab0c6;
	--color-accent-600: #c30067;
	--color-accent-900: #600030;
	--color-accent-950: #430922;

	/* Generated gray color palettes. */
	--color-gray-100: #fff3f6;
	--color-gray-200: #fee7ed;
	--color-gray-300: #d5bac1;
	--color-gray-400: #ae7b8a;
	--color-gray-500: #764856;
	--color-gray-700: #532837;
	--color-gray-800: #401725;
	--color-gray-900: #241117;
}
